<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <h1>Une erreur est survenue</h1>
  <p>Veuillez nous excusez pour la gene occasionnée</p>

<%- include('includes/end.ejs') %>