<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boutique</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Boutique</a></li>
        <li><a href="/admin/add-product">Ajouter Produit</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>Mes Produits</h1>
    <p>Liste de tout les produits...</p>
  </main>
</body>
</html>